main.home {
  text-align: center;

  .avatar {
    width: 140px;
  }
  
  .hover {
    position: relative;
    text-decoration: underline;
  }

  .hover .carlos {
    visibility: hidden;
    width: 120px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .hover:hover .carlos {
    visibility: visible;
    opacity: 1;
  }
}
